.termsofuse {
  max-width: 800px;
  padding: 40px 20px 0;
  margin: 0 auto;
  .pb {
    padding-bottom: 20px;
  }
  > h2 {
    text-align: center;
    padding-bottom: 40px;
  }
  > h3 {
    margin-top: 20px;
    padding: 20px 0 20px;
    border-top: 1px solid var(--border);
  }
  > h4 {
    padding-bottom: 20px;
  }
  > p,
  > ol > li,
  > ul > li {
    font-size: 15px;
    line-height: 1.6;
  }
  > ol {
    list-style: decimal;
    /* list-style-position: inside; */
    padding-left: 20px;
    > li > ul {
      padding-top: 10px;
      padding-left: 20px;
      list-style: disc;
    }
  }
  > ul {
    list-style: disc;
    padding-left: 20px;
  }
  > p > a,
  > ol > li > a {
    word-wrap: break-word;
    text-decoration: underline;
    color: var(--button2);
  }
  @media screen and (max-width: 360px) {
    > p,
    > ol > li,
    > ul > li {
      font-size: 14px;
    }
  }
}
