:root {
  --bg: #ffffff;
  --bg2: #d9e9e5;
  --bg3: #25b09b;
  --fc: #171717;
  --border: oklch(0.922 0 0);
  --button: oklch(0.205 0 0);
  --button2: #006eff;
  --button3: #00b900;
  --box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --fc: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--fc);
  background: var(--bg);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
ul {
  list-style: none;
}
table {
  display: block;
  border-collapse: collapse;
}
thead,
tbody,
tfoot,
tr,
label {
  width: 100%;
  display: block;
}
th,
td {
  word-wrap: break-word; /* 古いブラウザ用 */
  word-break: break-word; /* 推奨：長い単語を折り返す */
  overflow-wrap: break-word; /* 新しい標準 */
}
th[scope="col"],
th[scope="row"] {
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.cl-signIn-root,
.cl-signUp-root {
  margin: 20px auto 0;
}

.link {
  padding: 20px 0;
  text-align: center;
  > a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--button2);
  }
  > a:hover {
    opacity: 0.6;
  }
}
