.home {
  > .responsiveImage > img {
    width: 100%;
    height: auto;

    max-width: 1408px; /* 1409になったとき1408で固定 */
    display: block; /* 中央揃えなどのために追加 */
    margin: 0 auto;
  }
  > h2 {
    text-align: center;
  }
  > p {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    line-height: 2;
    > span {
      font-weight: bold;
      > a {
        text-decoration: underline;
      }
    }
  }
}
